<!DOCTYPE html>
<html lang="en">
<head>
	<title>{$title}</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	
	<!-- Style & Script -->
	{loop name="style"}<link rel="stylesheet" href="{$value}#" type="text/css" />
	{/loop}

	{loop name="script"}<script src="{$value}#" type="text/javascript"></script>
	{/loop}

	{$javascript}
	<!-- // -->

</head>
<body>
	
	<div id="header" class="doc">
		<div id="menu"><div><img src="img/logo_mini.gif">{loop="menu"}<a href="{$value.link}" {$value.selected?'class="selected"':null}>{$value.name}</a>{/loop}</div>
	</div>

	<div id="section" class="doc">
		<div id="section_inside">
			<div id="section_inside_inside">
				PAGE NOT FOUND!
			</div>
		</div>
	</div>

	<div id="footer">
		<div id="inner_footer">
			<div class="left">{loop="menu"}{$counter?' | ':''}<a href="{$value.link}" {$value.selected?'class="selected"':null}>{$value.name}</a>{/loop}</div>
			<div class="center">execution time: {$execution_time}<br/>
								executed query: {$n_query}<br/>
			</div>
			<div class="right">Copyright rain team</div>
		</div>
	</div>

</body>
</html>
