body{font-family:Helvetica, Arial;font-size:13px;color:#444;background:#690;margin:0px;color:#444;height:100%;}
a:link,a:visited,a:active{color:#333;}
a:hover{color:red;text-decoration:underline}
img{border:0}
h1,h2,h3{font-weight:normal;}
h1{color:#393;font-size:24px;margin:3px 0 5px 0}
h2{color:#6a6;font-size:20px;margin:0px}
h3{color:#333;font-size:17px;margin:0px}

#header{width:100%;height:215px;font-size:13px;color:#fff;}
#header.doc{height:60px;}
#menu{height:40px;line-height:40px;text-align:center;background:#360;text-shadow:1px 1px 1px #030;}
#menu div{margin:0 auto;width:950px;}
#menu img{margin:0 50px 0 0;float:left;margin-top:8px;}
#menu form{background:#252;float:right;padding:0 12px;text-transform:uppercase;font-size:10px;}
#menu input{border:0px;height:18px;color:#ccc;text-indent:5px;}
#menu input:focus{color:#333;}
#menu a{color:#eee;display:block;float:left;padding:0 20px;text-decoration:none;}
#menu a.selected{background:#690;}
#menu a:hover{background:#7a0;}
#logo{width:950px;margin:30px auto;}
#download{position:absolute;width:100%;text-align:center;top:80px;}
#download img{margin-left:780px;}

.left_column {float:left;width:580px}
.right_column{float:right;width:200px;border-left:1px solid #ccc;padding:40px 0 40px 40px;}
.right_column ul{list-style:none;margin:0px;padding:0px;}
.right_column h1{font-size:17px;}
.right_column h2{display:inline;}
.right_column h2 a{font-size:12px;color:#900;}
.right_column .date{font-size:12px;color:#999;display:inline;}

#slogan{height:150px;margin-top:50px;float:left;clear:both;}
#slogan .block{float:left;width:230px;font-size:15px;color:#666;text-shadow:1px 1px 1px #fff;}
#slogan .space{margin:35px;float:left;width:1px;height:100px;background:#aaa;border-right:1px solid #fff;}
#slogan h1{color:#333;font-family:Arial,Helvetica;font-size:30px;color:#999;margin-bottom:15px;}


#section{width:950px;margin:0px auto;line-height:20px;-moz-border-radius:10px;-webkit-border-radius:10px;border:5px solid #360;background:#360;}
#section_inside{background:#eee url(../img/bg.jpg) repeat-x;-moz-border-radius:10px;-webkit-border-radius:10px;border:1px solid #230;}
#section_inside_inside{padding:50px;overflow:auto;}

#section_title{float:left;clear:both;width:100%;font-size:25px;color:#999;text-shadow:1px 1px 1px #eee;}

#section .left{float:left;width:450px;margin:20px 50px 20px 0;}
#section .right{border-left:1px solid #ccc; padding: 20px 0 20px 60px; float:left;width:200px;text-align:left;}


a.button{border:1px solid #ccc;background:#ddd;color:#666;text-shadow:1px 1px 1px #fff;padding:7px 15px;-moz-border-radius:10px;-webkit-border-radius:10px;text-decoration:none;}
a.button:hover{border:1px solid #aaa;background:#ccc;color:#333;}

.content_list{margin:30px 0;}
.content_list .voice{overflow:auto;}
.content_list .voice .date{color:#999;}


#inner_footer{ width:950px;height:50px;margin:0px auto;padding:30px 0;color:#fff;font-size:12px;text-shadow:1px 1px 1px #039;}
#footer a{color:#fff;text-decoration:none;}
#footer .left{float:left;width:300px;}
#footer .center{float:left;width:300px;text-align:center;}
#footer .right{float:left;width:300px;text-align:right;}

/* documentation */
#section.doc{width:100%;min-width:950px;border:0px;-moz-border-radius:0px;-webkit-border-radius:0px;}
#section.doc #section_inside{width:100%;border:0px;-moz-border-radius:0px;-webkit-border-radius:0px; background:#fff;}
#section.doc #section_inside_inside{margin:0 auto;width:950px;padding:0px;height:100%;overflow:hidden;}

.php{font-size:12px;font-family:monospace;background-color:#f6f6f6;border:solid 1px #ccc;padding:15px}
.template{font-size:12px;font-family:monospace;background-color:#f3fff3;border:solid 1px #6c6;padding:15px}
.output{font-size:12px;font-family:monospace;background-color:#f3fcfc;border:solid 1px #9ce;padding:15px}
.tag{color:#039}
.variable{color:#930}
.string{color:#090}
.command{color:blue}
.var_icon{list-style-type:disc;list-style-image:url(../images/var_icon.gif);list-style-position:outside}
.img_icon{list-style-type:disc;list-style-image:url(../images/img_icon.gif);list-style-position:outside}
.css_icon{list-style-type:disc;list-style-image:url(../images/css_icon.gif);list-style-position:outside}
.dir_icon{list-style-type:disc;list-style-image:url(../images/dir_icon.gif);list-style-position:outside}
.php_icon{list-style-type:disc;list-style-image:url(../images/php_icon.gif);list-style-position:outside}
.html_icon{list-style-type:disc;list-style-image:url(../images/html_icon.gif);list-style-position:outside}
.comment{color:#999;}

.doc_nav_bg{vertical-align:top;padding:20px;min-width:200px;background:#ddd;border-right:1px dashed #999;}
.doc_nav{font-size:15px;line-height:22px;}
.doc_nav h3{border-bottom:1px solid #ccc;font-size:16px;margin:0;padding-bottom:3px;}
.doc_nav h4{border-bottom:1px solid #ccc;font-size:16px;margin:0;padding-bottom:3px;font-weight:normal;}
.doc_nav a{color:#963;text-decoration:none;}
.doc_nav .selected{font-weight:bold;}
.doc_nav a:hover{}
.doc_nav ul{font-size:14px;padding:0px 20px;}
.doc_nav ul.sublink{font-size:11px;}

#doc_related{margin:50px;padding:20px;background:#fff;border:1px solid�#ccc;}

.doc_documentation_bg{vertical-align:top;}
.documentation{padding:50px 0;font-size:14px;font-family:Helvetica;}
.documentation_list{float:left;clear:both;margin-top:30px;position:relative}
.documentation_list li a{font-size:15px;line-height:24px;text-decoration:none;}
.documentation_list h2 a{color:#369;text-decoration:none;}
.doc_index{float:left;width:295px;min-height:220px;margin:0 30px 30px 0;border-right:1px solid #ddd;position:fixed}
.doc_index:last-child{margin:0 0 30px; border:0;}
.documentation_content {margin-left:300px}
.section_title{color:#369;}
.paragraph{margin-top:30px;}
.go_back_up a{float:right;color:#999;font-size:12px;text-decoration:none;}
.documentation h3 {margin-bottom:0px;margin-top:30px;}



.wiki_button{float:right;clear:both;margin:10px;}
.wiki{display:none;min-width:700px;padding:50px 0 50px 50px;}
.wiki textarea{border:1px solid #ccc;padding:20px;min-width:660px;}


#path{color:#666;font-size:11px}
#path a{color:#666}

#search_result{margin:80px 0 30px}
#search_result voice{margin-bottom:20px;}
#search_result h2 a{font-size:16px;font-weight:bold}
#search_result .text{line-height:16px;font-size:13px}
#search_result .continue a{color:#390;font-size:11px}

/* !doc */