/* Box */
.box{border:1px solid #bbeebb;padding:20px;margin-bottom:20px;-moz-border-radius:5px;-webkit-border-radius:5px;line-height:18px;overflow:auto;}
.box_success{border-color:#bbeebb;background:#eeffee;}
.box_warning{border-color:#ffeebb;background:#fff6ee;}
.box_error{border-color:#eebbbb;background:#ffeeee;}
.box_info{border-color:#ccccee;background:#f6f6ff;}
.box_grey{border-color:#cccccc;background:#f6f6f6;}
.box_purple{border-color:#eeccee;background:#fff3ff;}
.box .close{float:right;margin-top:4px;cursor:pointer;}
.box ul{margin:0px;padding:0px;}
.box li{margin-left:10px;}