body{font-family:Helvetica, Arial;font-size:12px;color:#444;background:#690;margin:0px;color:#444;height:100%;}
a:link,a:visited,a:active{color:#333;text-decoration:none}
a:hover{color:red;text-decoration:underline}
img{border:0}
h1,h2,h3{font-weight:normal;}
h1{color:#393;font-size:24px;margin:3px 0 5px 0}
h2{color:#6a6;font-size:20px;margin:0px}
h3{color:#333;font-size:17px;margin:0px}

#header{width:100%;height:215px;font-size:13px;color:#fff;}
#header.doc{height:60px;}
#menu{height:40px;line-height:40px;text-align:center;background:#360;text-shadow:1px 1px 1px #030;}
#menu div{margin:0 auto;width:950px;}
#menu img{margin:0 50px 0 0;float:left;margin-top:8px;}
#menu form{background:#252;float:right;padding:0 12px;text-transform:uppercase;font-size:10px;}
#menu input{border:0px;height:18px;color:#ccc;text-indent:5px;}
#menu a{color:#eee;display:block;float:left;padding:0 20px;text-decoration:none;}
#menu a.selected{background:#690;}
#menu a:hover{background:#7a0;}
#logo{width:950px;margin:30px auto;}

#section{width:100%;min-width:950px;margin:0px auto;line-height:20px;background:#360;}
#section_inside{width:100%;background:#eee url(../img/bg.gif) repeat-x;}
#section_inside_inside{padding:50px;overflow:hidden;color:#333;font-size:15px;}

#footer{}
#inner_footer{ width:950px;height:50px;margin:0px auto;padding:30px 0;color:#fff;font-size:12px;text-shadow:1px 1px 1px #039;}
#footer a{color:#fff;}
#footer .left{float:left;width:300px;}
#footer .center{float:left;width:300px;text-align:center;}
#footer .right{float:left;width:300px;text-align:right;}

@font-face{font-family:Chunkfive;src: url(../fonts/Chunkfive.ttf);}